 <div class="col-md-4 col-sm-6 col-xs-12 benifits-lists">
            <div class="single-benefits-box media text-center">
              <div class="insurers-icon-box">{{content.field_benifits_icon.0}} </div>
              <h5 class="heading">{{content.field_listing_title.0}}</h5>
              <div class="excerpt">
                <p>{{content.field_listing_description.0}}</p>
              </div>
            </div>
          </div>