<!-- Clients Section -->
<div id="clients">
  <div class="container">
    <div class="col-xs-12 col-md-12">
      <div class="col-md-12">
        <div class="section-title text-center">         
          <h2>{{content.field_our_clients_title.0}}</h2>
        </div>
      </div>
          <div class="item">
            {{content.field_clients}}
          </div>
    </div>     
  </div>
</div>