<div class="col-md-3 col-sm-6 col-xs-12 counter-lists text-center wow fadeInUp">
    <p><span class="counter">{{content.field_counter_values.0}}</span></p>      
    <p>{{content.field_counting_text.0}}</p>
</div>