<div class="col-md-4 col-xs-12 col-sm-4 contact-lists">
        <div class="single-address"> 
          <div class="single-address-contact"> 
            <div class="single-address-icon"> 
              {{content.field_contact_icons.0}}
            </div> 
            <div class="single-address-info">  
              <h4>{{content.field_about_title.0}}</h4>
              <p>{{content.field_listing_description.0}}</p>
            </div>    
          </div>
        </div>
      </div>