 <section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="faq_question">
          <div class="panel-group" id="accordion">

          {{content.field_faq_section}}
        </div>
      </div>  
      </div>

    </div>
  </div>
</section>
<!-- FAQ Page End -->