<!-- Insurance Benfits -->
<section id="insurance-benifits">
  <div class="container">
  <div class="row">
    <div class="section-title clearfix section-title-wrapper  text-center ">
      <h1 class="heading">{{content.field_home_benifits_title.0}}</h1>
      {{content.field_benifits_desc.0}}          
    </div>
  </div>  
    
      <div class="row">
        {{ content.field_insurance_listing }}
  </div>
  </div>
</section>
<!-- End Insurance Benfits -->


