<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="panel panel-primary panel-transparent" style="background:url('{{ file_url(content.field_clients_image['#items'].entity.uri.value)}}');background-repeat: no-repeat;background-size: cover;">
	  <div class="panel-body">
	    <div id="overlay"><p>{{ content.field_clients_image_caption.0 }}</p></div>
	  </div>
	</div>
</div>