<!-- Counter section -->
  <section id="counters" class="wow fadeInUp" style="background-image: url('{{ file_url(content.field_counter_background_image['#items'].entity.uri.value)}}');background-repeat: no-repeat;background-size: cover; background-position: center;">
    <div class="counter-overlay">
    <div class="container">
      <div class="row">
        {{ content.field_counter_sec}}
      </div>  
    </div>
    </div>
  </section>
<!-- End counter section -->

<!-- Testimonial section -->
{{ content.field_testimonial.0}}