<div class="col-md-4 col-sm-6 col-xs-12 services-lists wow fadeInLeft">
    <div class="services-lists-inner  text-center">
      <div class="services-icon wow fadeInRight"> 
      	{{fields.field_service_icon.content}}
      </div>
      <div class="services-content wow fadeInLeft">
      <h5 class="heading"><a href="{{fields.view_node.content}}">{{ fields.title.content}}</a></h5>
       {{fields.body.content}}
      </div>
    </div>
 </div>
 