<div class="row">
    <div class="col-md-6 about-description wow fadeInRight">
      <h2><span>{{ fields.title.content }}</span>
      	{{fields.field_sub_title.content}}</h2>
      	{{ fields.body.content }}
    </div>
    <div class="col-md-6 about-img wow fadeInLeft">
      {{fields.field_image.content}}
    </div>
  </div>