<div class="carousel-item" 
	 style="background-image: url('{{fields.field_background_image.content}}')">
	<div class="carousel-caption wow fadeInUp">
		<h2><span>{{fields.field_sub_title.content}}</span>
		{{fields.title.content}}</h2>
	</div>
</div>
             