<ul {{social_attribute.addClass(social_classes) }} >
  <li>
    <a href="#" class="facebook" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
  </li>
  <li>
    <a href="#" class="google" target="_blank">
      <i class="fab fa-google-plus-square"></i>
    </a>
  </li>
  <li>
    <a href="#" class="linkedin" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="#" class="twitter" target="_blank">
      <i class="fab fa-twitter-square"></i>
    </a>
  </li>
  <li>
    <a href="#" class="youtube" target="_blank">
      <i class="fab fa-youtube-square"></i>
    </a>
  </li>
  <li>
    <a href="#" class="instagram" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="#" class="github" target="_blank">
      <i class="fab fa-github-square"></i>
    </a>
  </li>
  <li>
    <a href="#" class="drupal" target="_blank">
      <i class="fab fa-drupal"></i>
    </a>
  </li>
</ul>
