
           <div class="testimonial">
                    <div class="pic">
                        <img src="{{ fields.field_testi_img.content }}" alt="testimonial image">
                    </div>
                    <div class="testimonial-review">
                        <p class="testimonial-description">
                            {{ fields.body.content }}
                        </p>
                        <h4 class="testimonial-title">
                            <small>{{ fields.field_testimonial_name.content }}</small>
                        </h4>
                    </div>
                </div>