<!--  Start Contact  form  -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto wow fadeInLeft" data-wow-delay="0.5s">
        <h2>{{content.field_title.0}}</h2>
        {{content.field_contact_form}}
      </div>
    </div>  
  </div>    
</section> 
<!--  End contact form -->
<!-- map -->
<section id="map">
   <div class="container">
      <div class="row">
        <iframe src="{{content.field_map_url.0}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
</section>      
<!-- End map -->  