<!-- Digital solution section -->
  <section class="about digital-solution">
    <div class="container">
      <div class="row"> 
        <div class="col-md-6 about-description wow fadeInRight">
          <h2>
            <span>{{content.field_sub_title.0}}</span>
            {{content.field_title.0}} 
          </h2>
          <p>{{content.field_content.0}}</p>
        </div>

        <div class="col-md-6 about-img wow fadeInLeft">
          {{content.field_image.0}}
        </div>      
      </div>
    </div>
  </section>
<!--  End Digital solution section -->
