<!-- Subscribe section -->
<section id="subscribes" 
         style="background-image: url('{{content.field_background_image.0}}');">
    <div class="container">
      <div class="row col-md-11 mx-auto subscribe wow fadeInLeft">
        <div class="col-md-5">
          <h2><span>{{ content.field_title.0 }}</span>
            {{content.field_description.0 }}</h2>
        </div>
        {{ content.field_subscribe_form }}
      </div>
    </div>
</section>  
<!-- End Subscribe section --> 