<!-- Top banner section -->
    <section id="top-banner">
      <div class="top-banner-bg" 
            style="background-image: url('{{content.field_background_image.0}}');">
        <div class="container">
          <div class=" col-md-7 mx-auto text-center top-banner-caption wow fadeInLeft">
            <h1 class="text-center">{{content.field_title.0}}</h1>
            <p>{{content.field_description.0}}</p>
          </div>
        </div>
      </div>  
    </section>
 <!-- End Top banner section -->